{% if formSearch %}

	{# <div class="container border solid bg-info" style="display:flex; justify-content:center;">
																						<div class=" d-flex justify-content:center mb-3 xl:w-50">
																							<div class="" style="margin: 60px;">
																								<input type="search" id="search" name="search" required="required" style="width:190px; height: 30px;" class="mt-4 mb-3">
																							</div>
																							<div class="input-group relative flex mb-4 mt-4 pt-4">
																				
																								<div class="" style="margin: 15px;">
																									<button class="" type="submit" style="margin: 10px; padding: 10px">
																										<span>Recherche</span>
																										<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" style="width:20px; height:20px;">
																											<path fill="black" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
																										</svg>
																									</button>
																								</div>
																							</div>
																						</div>
																					</div> #}


	{{ form_start(formSearch) }}
	<div class="container border solid bg-info d-flex justify-content-center">
		<div class="mb-3 w-50">
			<div class="input-group d-flex mb-4 mt-4 pt-4 justify-content-center align-items-center gap-3">
				{{ form_widget(formSearch.name) }}

				<div class="">
					<button class="" type="submit" style="padding: 10px">
						<span>Recherche</span>
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" style="width:20px; height:20px;">
							<path fill="black" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>

	{{ form_end(formSearch) }}

{% endif %}
